.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
doc/**

.idea
**.iml
**.metadata
**.packages
**.flutter-plugins
pubspec.lock
.packages
.flutter-plugins-dependencies
